
body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
  }
  .grid-container {
    display: grid;
    grid-template-columns:0.1fr 1fr 0.3fr;
    grid-template-rows:1fr;
    height: 100vh;
  }
  .aside{
    padding: 10px;
    background-color: #22209F;
    color: #fff;
    width: 100%;
    height: 100%;
  }

.table-container{
    background-color:aqua;
    width: 100%;
    height: 100%;
}